.header {
  background-color: $primary-color;
}

.header-logo{
  padding: 16px 0;

  img {
    width: 80px;
    height: 48px;
  }
}

.header nav {
  margin: 0 -12px;

  .nav-list {
    display: flex; 
    flex-wrap: wrap;

    @include tablet {
      font-size: 20px;
      width: 516px;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }

    @include desktop {
      width: 526px;
  }

  }
  
  .nav-link {
    width: 50%;
    border: 1px solid $light-color;
    text-align: center;
    a {
      padding: 12px 0;
      color: $light-color;
      width: 100%;
  
      &:hover {
        background: $secondary-color;
      }
    }

    @include tablet {
      border: none;
      width: 100%;
    }
  }
}

@include tablet {
  .header .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
}
