.banner {
  height: calc(100vh - 179px);
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);
  background-size: cover;
  background-position: center;

  @include tablet {
    height: calc(100vh - 80px);
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
    background-size: cover;
    background-position: center;  
  }
}
.banner .container{
  position: relative;
  height: 100%;
}
.banner-content{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding-right: 24px;

  @include tablet {
    p {
      font-size: $font-size-5;
      text-align: end;
    }
    h2 {
      font-size: $font-size-7;
    }
  }
}
.banner-btn {
  padding: 6px 12px;
  background: $primary-color;

  &:hover {
    background: $secondary-color;
  }
}

.info {
  background: $bg-color;
}

@include tablet {
  .info-title {
    font-size: $font-size-6;
  }
}

.info-list {
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }
}

.info-item {
  text-align: center;

  img {
    width: 84px;
    height: 84px;
    margin: 32px 0 24px 0;
  }
  p {
    text-align: start;
  }
}

.products-list{
  flex-direction: column;

  @include desktop {
    flex-direction: row;
  }
}

.products .product-item {

  @include tablet {
    img {
      width: 50%;
    }
  }

  @include desktop {
    img {
      width: 100%;
    }
  }
}

@include tablet {
  .products-title {
    font-size: $font-size-6;
  }
}


.design {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true);
  background-size: cover;
  background-position: center;

  @include desktop {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
  }
}
.design-list {
  flex-direction: column;

  @include desktop {
    flex-direction: row;
  }
}
.design-category {
  background: $light-color;
  padding-block: 8px;
}

@include tablet {
  .design-title {
    font-size: $font-size-6;
  }
}

.recommend-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 2px 6px #00000029;
  border: 1px solid #DEE2E6;
  border-radius: 4px;
  height: 100%;
} 
.recommend-item-img {
  object-fit: cover;
  border-radius: 4px 4px 0px 0px;
  height: 100%;
  min-height: 306px;
}
.recommend-item-content {
    padding: 16px;
    height: 100%;
    min-height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .date {
        font-size: 14px;
        margin-top: auto;
      } 
  }

  @include tablet {
    .recommend-title {
      font-size: $font-size-6;
    }
    .recommend-list {
      flex-direction: row;
      justify-content: space-between;

      li {
        margin-bottom: 24px;
      }
      li:nth-last-child(-n+2) {
        margin-bottom: 0px;
    }
    }
  }
  @include desktop {
    .recommend-list {
      flex-wrap: nowrap;
      flex-direction: row;

      li {
        margin-bottom: 0px;
      }
    }
  }

  .contact {
    background: $bg-color;
  }
  .contact-text {
    margin-block: 24px;
  }
  .form-label,
  .form-control {
    display: block;
    width: 100%;
  }
  .form-control {
    padding: 6px 12px;
    background: transparent;
    border: 1px solid $dark-color;
  }
  .check-input {
    background: transparent;
    width: 24px;
    height: 24px;
    margin: 0 4px 0 0;
  }
  .check-label {
    display: block;
    width: 95%;
  }
  .contact-btn {
    border: none;
    background: $primary-color;
    color: $light-color;
    padding: 16px 0;
    width: 100%;
    cursor: pointer;

    &:hover {
      background: $secondary-color;
    }
  }

  @include tablet {
    .contact {
      padding-block: 80px;
    }
    .contact-btn {
      width: 50%;
    }
    .check-label {
      width: 100%;
    }
  }
  @include desktop {
    .contact-text {
      margin-top: 48px;
      margin-bottom: 24px;
    }
  }