<!DOCTYPE html>
<html lang="zh-hant">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>glasses shop</title>
</head>

<body>
    <%- include('./layout/header'); -%>

        <div class="blog-info-nav">
            <%- include('./layout/blogNav'); -%>
        </div>

        <div class="blog-info container mb-16">
            <nav class="blog-breadcrumb">
                <ol class="breadcrumb d-flex">
                    <li class="breadcrumb-item"><a href="#">首頁</a>/</li>
                    <li class="breadcrumb-item"><a href="#">部落格</a>/</li>
                    <li class="breadcrumb-item"><a href="#">特別企劃</a>/</li>
                    <li class="breadcrumb-item active"><a href="#">情人特別企劃</a></li>
                </ol>
            </nav>
            <div class="blog-info-tags mb-2">
                <span class="tag fw-bold text-primary mr-4">#special</span>
                <span class="tag fw-bold text-primary">#event</span>
            </div>

            <section>
                <div class="row">
                    <div class="blog-info-content col-sm-12 col-md-9 col-lg-8">
                        <h2 class="fz-3">情人特別企劃</h2>
                        <p class="fw-medium">2020 Valentine’s Special</p>
                        <div class="info-content mt-4 mt-md-6">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blogpage-1.png?raw=true"
                                alt="blog page-1">
                            <p class="mt-2">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC
                                聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                        </div>
                        <div class="info-content mt-4 mt-md-6 mt-lg-10">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blogpage-2.png?raw=true"
                                alt="blog page-2">
                            <p class="mt-2">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC
                                聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                        </div>
                        <div class="info-content mt-4 mt-md-6 mt-lg-10">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blogpage-3.png?raw=true"
                                alt="blog page-3">
                            <p class="mt-2">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC
                                聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                        </div>
                        <div class="info-content mt-4 mt-md-6 mt-lg-10">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blogpage-4.png?raw=true"
                                alt="blog page-4">
                            <p class="mt-2">2/14(五)-2/20(日) 至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個 期間優惠還有~~持他牌鏡框更換鏡片 薄型非球面鏡片折300元
                                濾藍光鏡片折500元 快快帶上另一半 讓彼此每一次睜開眼，都被愛的視線包圍!</p>
                        </div>
                        <div class="tableBlock">
                            <div class="share">
                                <span class="share-item fw-bold mr-4">Share</span>
                                <a href="#"><img class="share-item mr-4"
                                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-facebook.png?raw=true"
                                    alt="fb"></a>
                                <a href="#"><img class="share-item"
                                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-instagram.png?raw=true"
                                    alt="ig"></a>
                            </div>
                            <div class="hr mb-6"></div>
                            <div class="changePage d-flex justify-content-between">
                                <a href="#" class="pre d-flex">
                                    <span class="material-icons-outlined mr-3">
                                        arrow_back
                                    </span>
                                    <p>上一篇：街頭潮人訪問 1</p>
                                </a>
                                <a href="#" class="next d-flex">
                                    <p>下一篇：街頭潮人訪問 2</p>
                                    <span class="material-icons-outlined ml-3">
                                        arrow_forward
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tags-content  text-primary col-md-3 col-lg-4">
                        <div class="tags-title mb-2 d-flex align-items-center">
                            <span class="tag-icon material-icons-outlined">
                                label
                            </span>
                            <div class="tag-text fw-bold">TAGS</div>
                        </div>
                        <div class="blog-info-tags">
                            <span class="tag fw-bold text-primary mr-4">#special</span>
                            <span class="tag fw-bold text-primary">#sale</span>
                        </div>
                        <div class="blog-info-tags">
                            <span class="tag fw-bold text-primary">#new_item</span>
                        </div>
                        <div class="blog-info-tags">
                            <span class="tag fw-bold text-primary">#interview</span>
                        </div>
                        <div class="blog-info-tags">
                            <span class="tag fw-bold text-primary mr-4">#trivia</span>
                            <span class="tag fw-bold text-primary">#news</span>
                        </div>
                        <div class="blog-info-tags">
                            <span class="tag fw-bold text-primary">#event</span>
                        </div>
                    </div>
                </div>
            </section>

        </div>





        <%- include('./layout/footer'); -%>


            <script type="module" src="../main.js"></script>
</body>

</html>