<!DOCTYPE html>
<html lang="zh-hant">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>glasses shop</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <main>
      <div class="store">
        <div class="container">
          <h2 class="locations fz-3 fw-bold mb-6">門市據點</h2>
          <div class="row mb-6 mb-md-10">
            <div class="col-sm-12 col-md-7">
              <div class="place-select d-flex align-items-center">
                <label for="place" class="mr-2 mr-md-4">選擇地區</label>
                <select name="place" id="place">
                  <option selected>台北市</option>
                  <option value="">台中市</option>
                  <option value="">高雄市</option>
                </select>
              </div>
            </div>
          </div>
          <ul class="card-list row">
            <li class="col-sm-12 col-md-6 col-lg-4 mb-6 mb-lg-12">
              <div class="card-item">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-1.png?raw=true"
                  alt="store 1">
                <div class="card-content">
                  <h3 class="card-title fz-3">台北中山旗艦店</h3>
                  <div class="card-text">
                    <a href="tel:0200001234" class="tel fz-2 mb-2 d-flex align-items-center">
                      <span class="material-icons-outlined mr-3">
                        call
                      </span>
                      電話:(02)000-1234
                    </a>
                    <div class="time fz-2 mb-2 d-flex align-items-center">
                      <span class="material-icons-outlined">
                        schedule
                      </span>
                      <div class="ml-3">營業時間:10:00-21:00</div>
                    </div>
                    <div class="address fz-2 d-flex">
                      <span class="material-icons-outlined">
                        location_on
                      </span>
                      <div class="ml-3">地址:台北市中山區南京東路25巷2-1號</div>
                    </div>
                  </div>
                </div>
                <a href="storeInfo.html" class="btn">詳細資訊</a>
              </div>
            </li>
            <li class="col-sm-12 col-md-6 col-lg-4 mb-6 mb-lg-12">
              <div class="card-item">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-2.png?raw=true"
                  alt="store 2">
                <div class="card-content">
                  <h3 class="card-title fz-3">台北綠園店</h3>
                  <div class="card-text">
                    <a href="tel:0200002345" class="tel fz-2 mb-2 d-flex align-items-center">
                      <span class="material-icons-outlined mr-3">
                        call
                      </span>
                      電話:(02)000-2345
                    </a>
                    <div class="time fz-2 mb-2 d-flex align-items-center">
                      <span class="material-icons-outlined">
                        schedule
                      </span>
                      <div class="ml-3">營業時間:10:00-21:00</div>
                    </div>
                    <div class="address fz-2 d-flex">
                      <span class="material-icons-outlined">
                        location_on
                      </span>
                      <div class="ml-3">地址：台北市中正區復興南路 132-1 號</div>
                    </div>
                  </div>
                </div>
                <a href="storeInfo.html" class="btn">詳細資訊</a>
              </div>
            </li>
            <li class="col-sm-12 col-md-6 col-lg-4 mb-6 mb-lg-12">
              <div class="card-item">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-3.png?raw=true"
                  alt="store 3">
                <div class="card-content">
                  <h3 class="card-title fz-3">台中清水旗艦店</h3>
                  <div class="card-text">
                    <a href="tel:0200001234" class="tel fz-2 mb-2 d-flex align-items-center">
                      <span class="material-icons-outlined mr-3">
                        call
                      </span>
                      電話:(02)000-1234
                    </a>
                    <div class="time fz-2 mb-2 d-flex align-items-center">
                      <span class="material-icons-outlined">
                        schedule
                      </span>
                      <div class="ml-3">營業時間:10:00-21:00</div>
                    </div>
                    <div class="address fz-2 d-flex">
                      <span class="material-icons-outlined">
                        location_on
                      </span>
                      <div class="ml-3">地址：台中市清水區經南一路 23 號 8 樓</div>
                    </div>
                  </div>
                </div>
                <a href="storeInfo.html" class="btn">詳細資訊</a>
              </div>
            </li>
            <li class="col-sm-12 col-md-6 col-lg-4 mb-6 mb-lg-12">
              <div class="card-item">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-4.png?raw=true"
                  alt="store 4">
                <div class="card-content">
                  <h3 class="card-title fz-3">高雄中正形象店</h3>
                  <div class="card-text">
                    <a href="tel:tel:070002345" class="tel fz-2 mb-2 d-flex align-items-center">
                      <span class="material-icons-outlined mr-3">
                        call
                      </span>
                      電話：(07)000-2345
                    </a>
                    <div class="time fz-2 mb-2 d-flex align-items-center">
                      <span class="material-icons-outlined">
                        schedule
                      </span>
                      <div class="ml-3">營業時間:10:00-21:00</div>
                    </div>
                    <div class="address fz-2 d-flex">
                      <span class="material-icons-outlined">
                        location_on
                      </span>
                      <div class="ml-3">地址：高雄市苓雅區中正路 38 號 12 樓</div>
                    </div>
                  </div>
                </div>
                <a href="storeInfo.html" class="btn">詳細資訊</a>
              </div>
            </li>
            <li class="col-sm-12 col-md-6 col-lg-4 mb-6 mb-lg-12">
              <div class="card-item">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-5.png?raw=true"
                  alt="store 5">
                <div class="card-content">
                  <h3 class="card-title fz-3">高雄夢時代店</h3>
                  <div class="card-text">
                    <a href="tel:070001234" class="tel fz-2 mb-2 d-flex align-items-center">
                      <span class="material-icons-outlined mr-3">
                        call
                      </span>
                      電話：(07)000-1234
                    </a>
                    <div class="time fz-2 mb-2 d-flex align-items-center">
                      <span class="material-icons-outlined">
                        schedule
                      </span>
                      <div class="ml-3">營業時間:10:00-21:00</div>
                    </div>
                    <div class="address fz-2 d-flex">
                      <span class="material-icons-outlined">
                        location_on
                      </span>
                      <div class="ml-3">地址：高雄市前鎮區中華一路 63 號 6 樓</div>
                    </div>
                  </div>
                </div>
                <a href="storeInfo.html" class="btn">詳細資訊</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </main>


    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>